.second {
    @extend .section-padding;
    @extend .column;
}

.second__image-wrapper {
    position: relative;
    width: 100%;
    margin: 10vh;
    height: 30vh;
}

.second__image {
    position: absolute;
    width: 25vw;
    min-width: 300px;
}

.second__image--first {
    
    top: 0;
    left: 35%;
    z-index: 2;
}

.second__image--second {
    top: 5vh;
    left: 15%;
}

.second__image--third {
    top: 15vh;
    left: 60%;
}
