* {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Krab', 'sans-serif';
}

h1 {
    font-size: 32px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

i {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-variant: small-caps;
    text-align: center;
    font-size: 18px;
}

.text-center {
    text-align: center;
}

.head {
    text-align: center;
}

.head--semi-bold {
    font-weight: 600;
}