//colors
$background-color: rgb(238, 238, 238);
$primary-color: rgb(247, 42, 69);
$secondary-color: rgb(51, 51, 51);


//header
$header-background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("../assets/fabian-grohs-597395-unsplash.jpg") no-repeat center;
$header-title-color: $background-color;

//second
$second-padding: 30vh 0;


