//colors
$background-color: rgb(238, 238, 238);
$primary-color: rgb(247, 42, 69);
$secondary-color: rgb(51, 51, 51);


//header
$header-background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
$header-title-color: $background-color;


